@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: max-content; */
    /* width: 100vw; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3)), url(../img/gymviejo3.png);
    background-size: cover;
    background-position: center center;
    display: flex; 
    justify-content: center; 
    color: rgb(33, 33, 33);
    font-family: 'Roboto, sans-serif';
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

section {
    font-size: 0.9em;
}

.footer {
    text-align: center;
    margin-bottom: 2vh;
}

.button-estilos {
    display: flex;
    justify-content: center;
}

.button-estilos button {
    border: 2px;
    padding: 0.5vw;
    background-color: rgb(97, 97, 97);
    color: rgb(250, 250, 250);
    cursor: pointer;
}

h1 {
    text-shadow: 0.125vw 0.125vw 0.5vw rgba(250,
        250,
        250, 0.9);
    text-align: center;
    margin-bottom: 1vh;
}

legend {
    border-radius: 1vh;
    background-color: rgba(245, 240, 240, 0.5);
    border: 3px inline black;
    text-align: center;
}

fieldset {
    background-color: rgba(245, 240, 240, 0.4);
    box-shadow: 0.250vw 0.250vw 1vw rgba(250, 250, 250, 0.9);
    border-radius: 1vh;
    padding: 0.2vw;
}

.fieldset3 {
    margin-bottom: 1vh;
}

.separador1,
.separador2 {
    margin: 1vh;
}

input,
select,
textarea {
    background-color: rgba(224, 224, 224, 0.5);
}

textarea {
    resize: none;
    width: 100%;
}

.footer input {
    border: 2px;
    padding: 0.5vw;
    background-color: rgb(97, 97, 97);
    color: rgb(250, 250, 250);
}

.info {
    margin-bottom: 1vh;
    background-color: rgba(245, 240, 240, 0.2);
}

.contanos {
    text-align: center;
}
